streamlit==1.35.0
tensorflow==2.15.1
numpy==1.26.4
opencv-python-headless==4.10.0.84
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1
Pillow==10.4.0
pandas==2.2.3
rich==13.7.1
markdown-it-py==3.0.0
pygments==2.17.2